.chapter {
	width: 100vw;
	// min-height: 100vh;
	margin-top: 56px;
	padding-bottom: 50px;

	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;

		@media (max-width: 1080px) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		.image {
			object-position: top;

			&[src=""] {
				display: none;
			}
		}
	}
}
