.rulesPage {
	padding-top: 16px;
	color: var(--color-text-primary);

	.title {
		margin: 16px 0 32px;
		font-size: 28px;
		font-weight: bold;
	}

	.subtitle {
		display: block;
		padding-bottom: 12px;
		margin-bottom: 4px;
		margin: 4px 0;
		font-size: 18px;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 16px;
		padding: 8px 16px;

		li {
			list-style: circle none outside;
		}
	}
}
