.chapterSetting {
	position: fixed;
	top: 0;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;

	@media (max-width: 1080px) {
		flex-direction: row;
		justify-content: space-around;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		height: max-content;
		background-color: var(--color-bg-paper);
	}

	.menuButtons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 8px;
		padding: 8px 4px;
		margin: 8px 0;
		background-color: var(--color-bg-paper);
		border-radius: 36px;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;
			transition: background 0.3s ease;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background: rgba(69, 66, 66, 0.2);
			}
		}
	}
}
